<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="/css/about.css">
<title>Home</title>
</head>
<body>
	<div th:insert="navbar :: navbar"></div>
	<h1 id="header">Who Barb was:</h1>
	<br>
	<p>Barbara Northrup (Grandma Barb) was a wonderful mother and grandmother. She lived in Walton New York where she once owned a restaurant called simply "Barb's restaurant." When she unfortunately passed, she left behind a box of hand-written recipe cards, the namesake of this application.</p>
	<br>
	<img style="width:30%;border-radius:20px;"src='https://courtneyfh.com/tribute-images/1779/Ultra/Barbara-Northrup.jpg' alt="Barbara Northrup" />
	<br>
	<h1 id="header">General facts about the application:</h1>
	<br>
	<p>The images throughout the site are old pictures of Walton New York where Barb spent most of her life. They are a National Guard Armory(all recipes pages), xyz(Barb's recipes page) the Walton Town Hall(individual recipe pages) a High school(login and registration pages), Seeley's department store on Main Street(the home page), and the Walton bank(This page).</p>
	<br>
	<p>The application itself is written in Java, HTML, and CSS utilizing Spring Boot, Thymeleaf, Spring Security, and JavaScript</p>
	<br>
	<h1 id="header">Who we are:</h1>
	<br>
	<p>The person writing this page along with foing all the general coding is Barbara's grandson, Bryce, and the person that entered all of the recipes and came up with the idea for the application is her grandson Kevin!</p>
	<br>

</body>
</html>