<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="/css/about.css">
<title>Home</title>
</head>
<body>
	<div th:insert="navbar :: navbar"></div>
	<h1 id="header">Who is Barb:</h1>
	<br>
	<p>Barbara Northrup (Grandma Barb) was a wonderful mother and grandmother. She lived in Walton New York where she once owned a restaurant called simply "Barb's restaurant." When she unfortunately passed, she left behind a box of hand-written recipe cards, the inspiration for this application. Our hope is that with this, everyone in our family will be able to share and cherish her recipes.</p>
	<br>
	<img style="width:30%;border-radius:20px;"src='https://courtneyfh.com/tribute-images/1779/Ultra/Barbara-Northrup.jpg' alt="Barbara Northrup" />
	<br>
	<h1 id="header">General facts about the application:</h1>
	<br>
	<p>The images throughout the site are old pictures of Walton New York where Barb spent most of her life. They are a National Guard Armory(all recipes pages), Seeley's department store on Main Street(Barb's recipes page) the Walton Town Hall(individual recipe pages) the old Walton High school(login and registration pages), Walton Library(the home page), and the Walton bank(This page).</p>
	<br>
	<p>The application itself is written in Java, HTML, CSS, and JavaScript utilizing Spring Boot, Thymeleaf, and Spring Security</p>
	<br>
	<h1 id="header">Who we are:</h1>
	<br>
	<p>The person writing this page along with doing all the general coding is Barbara's grandson, Bryce, and the person that entered all of the recipes and came up with the idea for the application is her grandson, Kevin!</p>
	<br>

</body>
</html>