<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<link rel="stylesheet" href="/css/styles.css">
<title>Update Recipe</title>
</head>

<body>
	<div th:insert="navbar :: navbar"></div>
	<div sec:authorize="isAuthenticated()">
		<div
			th:if="${#authentication.getPrincipal().getUsername() == recipe.getUser_email()}">
			<form action="#"
				th:action="@{/recipes/update/{id}(id=${recipe.recipeId})}"
				th:object="${recipe}" method="POST" id="addRecipeForm">
				<table>
					<tr>
						<td><h1>Update Recipe:</h1></td>
					</tr>
					<tr>
						<td><label>Recipe Name:</label> <input style="width: 20%;"
							type="text" th:field="*{name}" placeholder="Falafel" required /></td>
					</tr>
					<tr>
						<td><label>Recipe Type:</label> <select style="width: 20%;"
							th:field="*{recipeType}" required>
								<option th:value="Breakfast">Breakfast</option>
								<option th:value="Lunch">Lunch</option>
								<option th:value="Dinner">Dinner</option>
								<option th:value="Dessert">Dessert</option>
								<option th:value="Snack">Snack</option>
								<option th:value="Beverage">Beverage</option>
								<option th:value="Other">Other</option>
						</select></td>
					</tr>
					<tr>
						<td><label>Link to image:</label> <input style="width:40%;" th:field="*{image}"
							placeholder="https://example.com/image.jpg" required /></td>
					</tr>
					<tr>
						<td><input type="button" onclick="createNewElement()"
							value="Add More Rows" id="button" /></td>
					</tr>
					<tr>
						<td id="addIngredients">
							<div th:each="ingredients:${ingredients}" id="target">
								<br> <label>Ingredient:</label><input type='text' required
									class="ingredients" /><label>Amount:</label><input
									type='number' step=".1" class='ingredient_amounts' /><label>Measurement:</label><select
									class='measurement_labels'><option
										th:value='Milliliter'>Milliliter</option>
									<option th:value='Liter'>Liter</option>
									<option th:value='Teaspoon'>Teaspoon</option>
									<option th:value='Tablespoon'>Tablespoon</option>
									<option th:value='Cup'>Cup</option>
									<option th:value='Pint'>Pint</option>
									<option th:value='Quart'>Quart</option>
									<option th:value='Gallon'>Gallon</option>
									<option th:value='Milligram'>Milligram</option>
									<option th:value='Gram'>Gram</option>
									<option th:value='Kilogram'>Kilogram</option>
									<option th:value='Ounce'>Ounce</option>
									<option th:value='Pound'>Pound</option>
									<option th:value='Whole'>Whole</option>
									<option th:value='Separated'>Separated</option></select>
								<button style='margin-left: 5px;' onclick='deleteRow()'>Delete</button>
							</div>
							<div style="display: none">
								<input style="display: none" th:field='*{ingredients}'
									id="finalIng" /> <input style="display: none" type="text"
									th:field='*{ingredient_amounts}' id='finalIngAmt' /> <input
									style="display: none" type="text"
									th:field='*{measurement_labels}' id="finalMeas" />
							</div>
						</td>
					</tr>
					<tr>
						<td><label>Instructions:</label> <textarea
								th:field="*{instructions}"
								placeholder="A general description of how to make the dish..."></textarea></td>
					</tr>
					<tr>
						<td><input type="text" th:field="*{user_email}"
							id="user_email" style="display: none" />Submitting as
							[[${#authentication.getPrincipal().getUsername()}]]</td>
					</tr>
					<tr>
						<td><input type="button" onclick="finalize()" value="Submit"
							id="button" /></td>
					</tr>
					<tr>
						<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
					</tr>
					<tr>
						<td th:if="${#fields.hasErrors('ingredients')}"
							th:errors="*{ingredients}"></td>
					</tr>
					<tr>
						<td th:if="${#fields.hasErrors('ingredient_amounts')}"
							th:errors="*{ingredient_amounts}"></td>
					</tr>
					<tr>
						<td th:if="${#fields.hasErrors('instructions')}"
							th:errors="*{instructions}"></td>
					</tr>
					<tr>
						<td th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></td>
					</tr>
				</table>
			</form>
		</div>
		<div
			th:if="${#authentication.getPrincipal().getUsername() != recipe.getUser_email()}">
			<h1 style="margin-top: 30%;">This recipe isnt assigned to you,
				log in or email me (aznorthrup@gmail.com) to request the change!</h1>
		</div>
	</div>
	<script th:inline="javascript">
	
	window.onload=function(){
		
		var allIng = [[${ingredients}]]
		var ingCount = 0
		
		var allIngAmt = [[${ingredient_amounts}]]
		var ingAmtCount = 0
		
		var allMeas = [[${measurement_labels}]]
		var measCount=0
		
		var allInputs = document.getElementsByTagName("input")
		var allSelects = document.getElementsByTagName("select")
		var measCount = 0
		
		for (var i = 0; i < allInputs.length; i++){
			if (allInputs[i].className == "ingredients"){
				allInputs[i].value = allIng[ingCount]
				ingCount++
			}
		}
		for (var i = 0; i < allInputs.length; i++){
			if (allInputs[i].className == "ingredient_amounts"){
				allInputs[i].value = allIngAmt[ingAmtCount]
				ingAmtCount++
			}
		}
		for (var i = 0; i < allSelects.length; i++){
			if (allSelects[i].className == "measurement_labels"){
				allSelects[i].value = allMeas[measCount]
				measCount++
			}
		}
		
		var count=0
		targets = document.querySelectorAll("#target")
		for (var i in targets){
			targets[i].id = "target" + count
			count++
		}
		
		
	}
			var count = document.querySelectorAll("#target").length
		function createNewElement() {			

			var newInput = document.createElement('div');
			
			newInput.id = "target" + count

			newInput.innerHTML = "<br><label>Ingredient:</label><input  type='text' class='ingredients'/>"
					+ "<label>Amount:</label><input  type='number' step='.1' class='ingredient_amounts' />"
					+ "<label>Measurement:</label><select  class='measurement_labels'>"
					+ "<option th:value='Milliliter'>Milliliter</option>"
					+ "<option th:value='Liter'>Liter</option><option th:value='Teaspoon'>Teaspoon</option>"
					+ "<option th:value='Tablespoon'>Tablespoon</option><option th:value='Cup'>Cup</option>"
					+ "<option th:value='Pint'>Pint</option><option th:value='Quart'>Quart</option>"
					+ "<option th:value='Gallon'>Gallon</option><option th:value='Milligram'>Milligram</option>"
					+ "<option th:value='Gram'>Gram</option><option th:value='Kilogram'>Kilogram</option>"
					+ "<option th:value='Ounce'>Ounce</option><option th:value='Pound'>Pound</option>"
					+ "<option th:value='Whole'>Whole</option>"
					+ "<option th:value='Separated'>Separated</option></select>"
					+ "<button onclick='deleteCurrent(" + count + ")' style='margin-left:5px;'>Delete</button>";

			document.getElementById("addIngredients").appendChild(newInput);
			
			count++

		}
		var form = document.getElementById("addRecipeForm")

		function finalize() {
			event.preventDefault()
			var allInputs = document.getElementsByTagName("input")
			var allSelects = document.getElementsByTagName("select")
			
			var ingString = ''
			var ingAmtString = ''
			var measString = ''
			
			for (var i = 0; i < allInputs.length; i++){
				if (allInputs[i].className == "ingredients"){
					ingString += allInputs[i].value + ", "
				} else if (allInputs[i].className == "ingredient_amounts")
					ingAmtString += allInputs[i].value + ", "
			}
			
			var ingredientString = ingString.slice(0, -2)
			var ingredientAmountString = ingAmtString.slice(0, -2)
			
			for (var i = 0; i < allSelects.length; i++){
				if (allSelects[i].className == "measurement_labels"){
					measString += allSelects[i].value + ", "
				}
			}
			var measurementString = measString.slice(0, -2)
			
			console.log(ingredientString)
			console.log(ingredientAmountString)
			console.log(measurementString)
			
			var finalIng = document.getElementById("finalIng")
			finalIng.value = ingredientString

			var finalIngAmt = document
					.getElementById("finalIngAmt")
			finalIngAmt.value = ingredientAmountString

			var finalMeas = document
					.getElementById("finalMeas")
			finalMeas.value = measurementString
			
			console.log(finalIng.value)
			console.log(finalIngAmt.value)
			console.log(finalMeas.value)

			form.submit()
			
		}
		
		function deleteCurrent(num){
			event.preventDefault()
			target = document.getElementById("target" + num)
			target.remove()
		}
	</script>
</body>

</html>